{% extends 'baseadmin.html' %} {% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div >
  <!-- Stats Section -->
  <div class="stats-container">
    <div class="stats-box customers">
      <h3>👥Total Customers</h3>
      <p>{{ total_customers }}</p>
    </div>
    <div class="stats-box savings">
      <h3>Savings Accounts</h3>
      <p>{{ total_savings_accounts }}</p>
    </div>
    <div class="stats-box current">
      <h3>Current Accounts</h3>
      <p>{{ total_current_accounts }}</p>
    </div>
    <div class="stats-box fixed">
      <h3>Fixed Deposits</h3>
      <p>{{ total_fixed_deposit }}</p>
    </div>
    <div class="stats-box recurring">
      <h3>Loan Management</h3>
      <p>{{ total_loans }}</p>
    </div>
  </div>
</div>
{% endblock %}
