{% extends 'baseadmin.html' %} {% block title %}Savings Account Approval{% endblock %} {% block content %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<h2>PERSONAL LOAN APPLICATIONS</h2>

<table class="table table-bordered table-striped mt-3">
  <thead>
    <tr>
      <th>OWNER</th>
      <th>OWNER ADDRESS</th>
      <th>OWNER EMPLOYMENT STATUS</th>
      <th>OWNER INCOME CERTIFICATE</th>
      <th>LOAN AMOUNT</th>
      <th>LOAN PURPOSE</th>
      <th>LOAN TYPE</th>
    </tr>
  </thead>
  <tbody>
    {% for loan in loans %}
    <tr>
      <td>{{ loan.name }}</td>
      <td>
        {{ loan.address}}
        &nbsp;{{loan.city}}
        &nbsp;{{loan.state}}&nbsp;{{loan.pincode}}
      </td>
      <td>
        {{ loan.employment_status }}&nbsp; Income: {{loan.monthly_income}}
      </td>
      <td>
        {% if loan.salary_certificate %}
        <button
          class="view-doc-btn"
          onclick="viewDocument('{{ loan.salary_certificate.url }}')"
        >
          View Document
        </button>
        {% else %}
        <span>No Document</span>
        {% endif %}
      </td>
      <td>{{ loan.loan_amount_required }}</td>
      <td>{{ loan.loan_purpose }}</td>
      <td>{{ loan.loan_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal for document viewing -->
<div id="documentModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Customer Document</h2>
      <a id="documentLink" href="" target="_blank">Open Document</a>
    </div>
  </div>
<script>
    var modal = document.getElementById("documentModal");
    var span = document.getElementsByClassName("close")[0];
    
    function viewDocument(url) {
      console.log("Attempting to view document at URL:", url);
      modal.style.display = "block";
      document.getElementById("documentLink").href = url;
    }
    
    span.onclick = function () {
      modal.style.display = "none";
    };
    
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
</script>
{% endblock %}
